body{
	background: #efefef;
}
.login-form {
    width: 400px;
}
.custom-font {
    font-size: 1.3rem !important;
}
#staff-table_filter, .staff-table_filter{
	display:none !important; 
}
label{
	font-size:1rem !important;
}
.dataTables_filter {
display: none !important; 
}